First app
<div class="container">
  <div class="row">
    <div class="col-xd-12"></div>

    <app-alert-info *ngIf="showInfo" [alertText]="infoText"></app-alert-info>
    <app-alert-warning *ngIf="showWarning"></app-alert-warning>
    <app-alert-success *ngIf="showSuccess" [alertText]="successText"></app-alert-success>

    <!-- <app-binding-task></app-binding-task> -->

    <app-binding-task (taskCreated)="onTaskCreated($event)"></app-binding-task>

      <br>
      <button class="btn btn-success" (click)="showTodo = !showTodo; onTaskCreated($event)">Open todo list</button>
      <p *ngIf="showTodo"><app-todo></app-todo></p>


  </div>
</div>